@media screen and (max-width: 1000px){
	div#home{
		background-size: 1800px 1800px;
	}
	div.gallery-content div.img-box{
		background-size: 220%;
	}
	div.next-image, div.prev-image{
		background: none;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
	div.next-image{
		background-image: url("images/ico/nextw.png") !important;
	}
	div.prev-image{
		background-image: url("images/ico/prevw.png") !important;
	}
}